.products_container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #0E66CA 0%, #0081FF 100%);
  color: #fff;
}

.products_search_bar {
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 14px;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 40px;
  width: 75%;
}

.products_search_bar input {
  border: none;
  outline: none;
}

.products_list {
  display: flex;
  margin-bottom: 40px;
}

.products_title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
  margin-left: 15px;
}

.product_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  color: #000;
  padding: 10px 8px;
  padding-bottom: 16px;
  border-radius: 8px;
}

.product_image {
  width: 80px;
  height: 85px;
  margin-bottom: 8px;
}

.product_name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product_description {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 22px;
}

.product_button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #15B370;
  padding: 8px 18px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 600;
  width: fit-content
}

.product_button_text {
  color: #fff;
  text-decoration: none;
}

.product_button:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .products_search_bar {
    width: 45%;
  }

  .product_item {
    padding: 14px 14px;
  }

  .products_title {
    font-size: 20px;
    margin-left: 20px;
  }

  .product_name {
    font-size: 15px;
  }

  .product_description {
    font-size: 12px;
  }

  .product_button {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  .products_title {
    font-size: 25px;
    margin-left: 40px;
    margin-bottom: 20px;
  }
}