.suppliers_image {
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.suppliers_infos_container {
  background-color: #fff;
}

.suppliers_title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  background: -webkit-linear-gradient(90deg, #1C7DDC 0%, #006BD4 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px 0;
}

.suppliers_text {
  display: none;
}

.suppliers_group {
  background-image: linear-gradient(90deg, #0E66CA 0%, #0081FF 100%);
}

.suppliers_group:nth-child(2n + 1) {
  background: #fff;
}

.suppliers_list {
  display: grid;
  grid:  auto-flow / repeat(2, 1fr) ;
  gap: 15px;
  padding: 50px 10%;
}

.suppliers_list_background {
  background: #D9D9D9;
}

.suppliers_logo {
  display: flex;
  margin: auto;
  background-color: #fff;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  padding: 15px;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.privacy_policy_container {
  background-color: #0081FF;
  color: #fff;
  padding: 20px 15px;
  font-size: 10px;
  font-weight: 200;
  border-top: 1px solid #fff;
}

.privacy_policy_title {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 2vw;
}

@media (min-width: 375px) {
  .suppliers_list {
    grid:  auto-flow / repeat(3, 1fr) ;
    padding: 50px 5%;
  }
}

@media (min-width: 768px) {
  .suppliers_infos_container {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    margin: 30px;
    margin-top: 94px;
  }

  .suppliers_image {
    width: 40vw;
    border-radius: 18px;
  }

  .suppliers_list {
    grid:  auto-flow / repeat(4, 1fr) ;
    padding: 50px 10%;
  }

  .suppliers_title {
    justify-content: flex-start;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 0;
  }

  .suppliers_text {
    display: block;
    font-weight: 300;
    font-size: 15px;
  }

  .suppliers_logo {
    width: 15vw;
    height: 15vw;
  }

  .suppliers_title_section {
    justify-content: center;
    padding: 15px 0;
  }

  .privacy_policy_container {
    border-width: 1.5px;
    font-size: 14px;
    padding: 40px 30px;
  }

  .privacy_policy_title {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .suppliers_infos_container {
    margin: 40px 50px;
    margin-top: 115px;
  }

  .suppliers_title {
    font-size: 30px;
  }

  .suppliers_text {
    font-size: 18px;
  }

  .suppliers_image {
    width: 50vw;
    height: 25vw;
  }

  
  .suppliers_logo {
    width: 12vw;
    height: 12vw;
  }

  .suppliers_list {
    grid:  auto-flow / repeat(5, 1fr);
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
    padding: 4% 12%;
  }

  .privacy_policy_container {
    font-size: 16px;
  }

  .privacy_policy_title {
    font-size: 22px;
  }
}

@media (min-width: 1440px) {
  .suppliers_infos_container {
    gap: 115px
  }

  .suppliers_title {
    font-size: 40px;
    margin-bottom: 25px;
  }

  .suppliers_list {
    padding: 4% 16%;
  }

  .suppliers_text {
    font-size: 22px;
  }

  .suppliers_image {
    width: 45vw;
    height: 25vw;
  }

  .suppliers_logo {
    width: 10vw;
    height: 10vw;
  }

  .privacy_policy_container {
    font-size: 20px;
    padding: 40px 70px;
  }

  .privacy_policy_title {
    font-size: 24px;
  }
}

@media (min-width: 2560px) {
  .suppliers_infos_container {
    margin: 4% 8%;
    margin-top: 200px;
    gap: 150px
  }
  
  .suppliers_title {
    font-size: 50px;
  }
  
  .suppliers_text {
    font-size: 35px;
  }
  
  .suppliers_list {
    row-gap: 50px;
    padding: 6% 18%;
  }

  .privacy_policy_container {
    font-size: 35px;
    padding: 100px 300px;
    border-width: 4px;
  }

  .privacy_policy_title {
    font-size: 50px;
  }
}