.about_us {
  color: #fff;
  background-image: linear-gradient(#0360CE, #0081FF);
  display: flex;
}

.infos_container {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  margin-left: 16px;
  gap: 24px;
  font-size: 13px;
  margin-bottom: 30px;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.title {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-montserrat);
}

.text {
  font-weight: 400;
  font-size: 14px;
}

.button {
  font-size: 14px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px 24px;
  margin-right: auto;
  text-decoration: none; 
}

.banner {
  border-radius: 60px 0 0 0;
  height: 215px;
}

.welcome_container {
  display: flex;
  padding: 30px 12px;
  gap: 22px
}

.welcome_line_after {
  width: 20%;
  height: 2px;
  background-image: linear-gradient(to right, #1C7DDC, #6BB4FB );
  margin-bottom: 8px;
  margin-top: 8px;
}

.welcome_line_before {
  width: 70%;
  height: 1.5px;
  background-image: linear-gradient(to right, #1C7DDC, #6BB4FB );
  margin-top: 8px;
  margin-bottom: 12px;
  margin-top: 8px;
}

.welcome_title {
  font-size: 19px;
}

.welcome_title_color {
  background: -webkit-linear-gradient(left, #1564B3, #379CFF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 4px 0;
}

.welcome_text {
  font-size: 9.45px;
  font-weight: 400;
}

.welcome_button {
  background-image: linear-gradient(#009255, #15B370);
  padding: 6px 8px;
  color: white;
  border-radius: 6px;
  font-size: 11px;
}

.welcome_image {
  border-radius: 15px;
  width: 140px;
  height: 140px;
}

.our_services_container {
  background-color: #0180FF;
  color: #fff
}

.our_services_image {
  display: none;
}

.our_services_title {
  text-align: center;
  font-size: 17px;
  padding-top: 14px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  border: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, transparent 31%, #fff 25%, #6BB4FB 52%, transparent 56%) 1;
  padding-bottom: 4px;
}

.our_services_title_before {
  position: relative;
  width: 40%;
  height: 1px;
  background-image: linear-gradient(to right,#fff, transparent);
}

.our_services_list {
  padding: 12px 0;
}

.mobile_service_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile_service_image {
  border-radius: 13px;
  box-shadow: 0px 3.5px 3.5px 0px #00000040;
}

.mobile_service_item:nth-child(1){
  padding-left: 15px;
}

.our_services_item_icone {
  width: 21px;
  height: 16px
}

.our_services_item_title {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

.our_services_item_text {
  font-size: 12px;
}

.our_services_card_indicator_container {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 12px;
}

.our_services_card_indicator {
  width: 10px;
  height: 10px;
  background-color: #D4D4D4;
  border-radius: 100%;
}

.our_services_card_indicator_active {
  background-color: #fff;
}

.products_container {
  padding: 14px 22px;
}

.products_title {
  font-family: var(--font-montserrat);
  font-size: 20px;
  font-weight: 600;
}

.products_line {
  height: 2px;
  width: 28%;
  background-image: linear-gradient(to left, #1B7EDF 8.95%, #76BBFF 78.24%);
  margin: 10px 0 20px 0;
}

.products_list {
  margin-bottom: 20px;
}

.products_list_item {
  font-size: 14px;
  font-weight: 500;
}

.products_list_item::before {
  background-image: linear-gradient(91.68deg, #1B7EDF 8.95%, #76BBFF 78.24%);
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 8px;
  margin-right: 5px;
}

.products_button {
  background-color: #006BD4;
  color: #fff;
  padding: 6px;
  border-radius: 7px;
  text-decoration: none;
} 

.catalog_container {
  display: flex;
  gap: 18px;
  background-color: #0E66CA;
  color: #fff;
  padding: 18px;
}

.catalog_title {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  margin-bottom: 5px;
  padding-top: 40px;
  background: -webkit-linear-gradient(left, #FFFFFF 59.74%, #D5D5D5 83.9%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.catalog_text {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 28px;
}

.catalog_button {
  background-color: #fff;
  color: #000;
  padding: 6px 18px;
  border-radius: 6px;
  font-weight: 500;
}

.catalog_image {
  border-radius: 32px 32px 0 0 ;
  box-shadow: 0px 4px 4px 0px #00000040;
  width: 120px;
  height: 154px;
}

.contact_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 21px 0;
  padding-bottom: 20px;
}

.contact_form_title {
  font-size: 18px;
  background: -webkit-linear-gradient(left, #1564B3 0%, #379CFF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.contact_form_title {
  margin-bottom: 21px;
}

@media (min-width: 768px) {
  .infos_container {
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 15px;
    margin-right: 50px;
  }

  .banner {
    height: 330px;
    width: 350px;
  }

  .button {
    font-size: 20px;
    padding: 10px 25px;
  }

  .welcome_container {
    margin-left: 30px;
    margin-bottom: 25px;
  }

  .welcome_title {
    font-size: 30px;
  }
  
  .welcome_text {
    font-size: 15px;
  }

  .welcome_image {
    width: 350px;
    height: 100%;
    border-radius: 0;
  }

  .welcome_line_before {
    margin-bottom: 35px;
    height: 2.5px
  }

  .welcome_button {
    font-size: 20px;
  }

  .our_services_container {
    display: flex;
    align-items: center;
    padding: 22px;
    padding-left: 30px;
    gap: 35px;
  }
  
  .our_services_image {
    display: block;
    width: 300px;
    height: 200px;
  }
  
  .our_services_title {
    font-size: 25px;
    text-align: start;
    border-bottom-width: 3px;
    border-image: linear-gradient(to right, transparent 1%, #fff 0%, #6BB4FB 29%, transparent 36%) 1;
    margin-bottom: 20px;
  }

  .mobile_service_item_list {
    display: grid;
    grid:  auto-flow / repeat(2, 1fr);
    gap: 20px
  }
  
  .mobile_service_item {
    flex-direction: column;
    align-items: flex-start;
    width: 22vw;
  }

  .mobile_service_item:nth-child(1) {
    padding: 0;
  }

  .our_services_item_title {
    font-size: 20px;
  }

  .our_services_item_icone {
    width: 40px;
    height: 30px;
  }

  .products_container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }

  .products_title {
    font-size: 25px;
  }

  .products_list {
    margin-bottom: 40px;
  }
  
  .products_list_item {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .products_button {
    padding: 10px 18px;
  }

  .catalog_container {
    justify-content: space-between;
    padding: 40px 30px;
  }

  .catalog_title {
    font-size: 30px;
  }

  .catalog_text {
    font-size: 14px;
  }

  .catalog_button {
    font-size: 18px;
  }

  .catalog_image {
    width: 200px;
    height: 100%;
    border-radius: 74px 74px 0 0 ;
  }

  .contact_form_container {
    margin: 25px 0;
  }

  .contact_form_title {
    font-size: 25px;
  }
}