.static_background {
  width: 100vw;
  height: 215px;
  background-repeat: no-repeat;
  background-position: -1000px;
  background-size: contain;
}

.about_us {
  color: #fff;
  background-image: linear-gradient(#0360CE, #0081FF);
  display: flex;
}

.infos_container {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  margin-left: 16px;
  gap: 24px;
  font-size: 13px;
  margin-bottom: 30px;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.title {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-montserrat);
}

.text {
  font-weight: 400;
  font-size: 14px;
}

.button {
  font-size: 14px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px 24px;
  margin-right: auto;
  text-decoration: none; 
}

.banner {
  border-radius: 60px 0 0 0;
  width: 310px;
}

.welcome_container {
  display: flex;
  padding: 30px 12px;
  gap: 22px
}

.welcome_left_side {
  max-width: 340px;
} 

.welcome_line_after {
  width: 20%;
  height: 2px;
  background-image: linear-gradient(to right, #1C7DDC, #6BB4FB );
  margin-bottom: 8px;
  margin-top: 8px;
}

.welcome_line_before {
  width: 70%;
  height: 1.5px;
  background-image: linear-gradient(to right, #1C7DDC, #6BB4FB );
  margin-top: 8px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.welcome_title {
  font-size: 19px;
  font-weight: var(--font-montserrat);
  font-weight: 600;
}

.welcome_title_color {
  background: -webkit-linear-gradient(left, #1564B3, #379CFF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 4px 0;
}

.welcome_text {
  font-size: 12px;
  font-weight: 400;
}

.welcome_button {
  font-size: 14px;
  background-image: linear-gradient(to top, #009255, #15B370);
  padding: 8px 24px;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.welcome_image {
  display: none;
  border-radius: 15px;
  width: 400px;
  height: 180px;
}

.products_container {
  background-image: linear-gradient(to bottom, #0180FF, #014D99);
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  gap: 22px
}

.products_title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 2px;
  width: 100%;
  align-self: flex-start;
}

.products_line {
  height: 1.5px;
  width: 20%;
  margin-top: 8px;
  display: block;
  background-image: linear-gradient(to right, #FFFFFF, #5DAFFF);
}

.products_list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.products_itens_container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.products_list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 6px
}

.products_list_item {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px
}

.products_list_item span {
  width: 10px;
  height: 2px;
  background-image: linear-gradient(to right, #FFFFFF, #5DAFFF);
  display: block;
}

.products_itens_container {
  display: flex;
}

.products_image {
  width: 45vw;
  max-width: 200px;
  height: max-content;
  border-radius: 4px;
}

.products_button {
  font-size: 10px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
}

.catalog_container {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.catalog_title {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  margin-bottom: 5px;
  padding-top: 40px;
}

.catalog_text {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 28px;
}

.catalog_button {
  text-decoration: none;
  background-color: #0180FF;
  color: #fff;
  padding: 8px 24px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.catalog_image {
  width: 120px;
  height: 154px;
}

.contact_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 21px 0;
  padding-bottom: 20px;
}

.contact_form_title {
  font-size: 18px;
  background: -webkit-linear-gradient(left, #1564B3 0%, #379CFF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.contact_form_title {
  margin-bottom: 21px;
}

.divider {
  display: block;
  height: 2px;
  width: 65%;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  background-image: linear-gradient(to right, #1C7DDC, #A7D3FF);
}

@media (min-width: 375px) {
  .static_background {
    background-position: right;
  }

  .infos_container {
    max-width: 195px;
  }
}

@media (min-width: 425px) {
  .infos_container {
    max-width: 230px;
  }

  .products_button {
    width: 80%;
  }
}

@media (min-width: 540px) {
  .infos_container {
    max-width: 325px;
  }

  .welcome_image {
    display: block;
    border-radius: 15px;
    width: 400px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  .static_background {
    height: 325px;
  }

  .infos_container {
    margin-left: 10vw;
    margin-right: 50px;
    justify-content: center;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 15px;
    max-width: 258px;
  }

  .banner {
    height: 330px;
    width: 250px;
  }

  .button {
    font-size: 20px;
    padding: 10px 25px;
  }

  .about_us {
    justify-content: space-between;
  }

  .welcome_container {
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .welcome_title {
    font-size: 30px;
  }
  
  .welcome_text {
    font-size: 15px;
    margin-right: 0;
  }

  .welcome_image {
    display: block;
    width: 345px;
    height: 100%;
  }

  .welcome_line_before {
    margin-bottom: 35px;
    height: 2.5px
  }

  .welcome_button {
    font-size: 20px;
  }

  .products_container {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .products_title {
    font-size: 20px;
    padding-bottom: 8px;
  }

  .products_list_item {
    font-size: 18px;
  }

  .products_image {
    width: 87vw;
    max-width: 284px;
    border-radius: 15px;
  }

  .products_button {
    font-size: 16px;
    align-self: flex-start;
    margin-top: 20px;
  }

  .catalog_container {
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .catalog_title {
    font-size: 30px;
  }

  .catalog_text {
    font-size: 14px;
  }

  .catalog_button {
    font-size: 18px;
    text-decoration: none;
  }

  .catalog_image {
    width: 200px;
    height: 100%;
    border-radius: 74px 74px 0 0 ;
  }

  .divider {
    margin-left: 6%;
  }

  .contact_form_container {
    margin: 25px 0;
  }

  .contact_form_title {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .about_us {
    justify-content: space-between;
  }
  
  .static_background {
    height: 490px;
  }
  
  .infos_container {
    gap: 40px;
    margin-left: 12vw;
    margin-top: 60px;
  }

  .banner {
    width: 285px;
    height: 480px;
  }

  .title {
    font-size: 30px;
  }

  .text_container {
    gap: 20px
  }

  .text {
    width: 33vw;
    font-size: 18px;
    max-width: 290px;
  }

  .button {
    font-size: 15px;
  }

  .contact_form_title {
    display: none;
  }

  .contact_form_container {
    position: absolute;
    top: 8%;
    right: 20%;
    width: 35vw;
  }
  
  .welcome_container {
    padding: 0;
    margin: 50px;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 12vw;
  }

  .welcome_left_side {
    max-width: 35vw;
    max-width: 400px;
  }

  .welcome_button {
    border-radius: 8px;
    font-size: 15px;
    padding: 8px 15px;
  }

  .welcome_image {
    border-radius: 14px;
    width: 37vw;
    max-width: 380px;
  }

  .products_container {
    padding: 40px;
    padding-left: 12vw;
    padding-right: 12vw;
    gap: 40px
  }

  .products_title {
    font-size: 22px;
  }

  .products_itens_container {
    justify-content: space-around;
    gap: 50px
  }

  .products_list {
    gap: 15px
  }

  .products_list_item {
    font-size: 20px;
  }

  .products_button {
    font-size: 16px;
    padding: 8px 18px;
  }

  .products_image {
    max-width: 390px;
  }

  .catalog_container {
    padding-left: 12vw;
    padding-right: 12vw;
  }

  .catalog_title {
    font-size: 30px;
  }

  .catalog_text {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .catalog_button {
    font-size: 15px;
    padding: 10px 25px;
  }
  
  .catalog_image {
    width: 25vw;
    border-radius: 93px 93px 0 0 ;
  }

  .divider {
    display: none;
  }
}

@media (min-width: 1440px) {
  .static_background {
    height: 712px;
  }

  .infos_container {
    justify-content: flex-start;
    width: 1250px;
    margin: 80px auto;
    max-width: 1250px;
  }

  .text_container {
    margin-top: 80px;
  }

  .banner {
    width: 420px;
    height: 700px;
    border-top-left-radius: 222px;
  }

  .title {
    font-size: 50px;
  }

  .text {
    font-size: 30px;
    max-width: 500px;
  }

  .button {
    font-size: 25px;
    padding: 15px 30px;
  }

  .contact_form_container {
    top: 13%;
    right: 12vw
  }

  .welcome_container {
    margin: 80px auto;
    justify-content: space-between;
    max-width: 1250px;
  }
  
  .welcome_title {
    font-size: 40px;
    padding-bottom: 22px;
  }
  
  .welcome_text {
    font-size: 20px;
    font-weight: 300;
    padding: 22px 0;
    max-width: 460px;
  }

  .welcome_button {
    font-size: 25px;
    padding: 13px 25px;
  }

  .welcome_image {
    width: 38vw;
    max-width: 580px;
  }

  .welcome_line_before {
    margin-bottom: 67px;
  }

  .welcome_left_side {
    max-width: 470px
  }

  .products_container {
    padding: 40px 0;
    margin: auto;
  }

  .products_title {
    font-size: 35px;
    max-width: 1250px;
    margin: auto;
  }

  .products_line {
    width: 15%;
    max-width: 1250px;
  }

  .products_list_container {
    justify-content: space-between;
    max-width: 1250px;
    margin: auto;
  }

  .products_list {
    justify-content: flex-start;
    gap: 28px
  }

  .products_itens_container {
    width: 356px;
  }

  .products_list_item {
    font-size: 25px;
  }

  .products_button {
    font-size: 25px;
    padding: 12px 30px;
    width: 90%;
  }

  .products_image {
    max-width: 580px;
  }

  .catalog_container {
    justify-content: space-between;
    margin: 40px auto;
    padding: 0;
    max-width: 1250px;
  }

  .catalog_title {
    font-size: 35px;
  }

  .catalog_text {
    font-size: 25px;
    margin-bottom: 55px;
  }

  .catalog_image {
    border-radius: 132px 132px 0 0;
    max-width: 435px;
  }

  .catalog_button {
    font-size: 25px;
    padding: 10px 28px;
  }
}

@media (min-width: 2560px) {
  .static_background {
    height: 828px;
  }

  .infos_container {
    width: 1800px;
    max-width: 1800px;
  }

  .title {
    font-size: 60px;
  }

  .text {
    font-size: 35px;
    max-width: 700px;
  }

  .welcome_container {
    max-width: 1800px;
    margin: 80px auto;
  }

  .welcome_left_side {
    max-width: 800px;
  }

  .welcome_title {
    font-size: 50px;
  }

  .welcome_text {
    max-width: 800px;
    font-size: 30px;
  }

  .welcome_image {
    max-width: 648px;
  }

  .welcome_button {
    font-size: 28px;
  }

  .products_container {
    padding: 80px 0;
  }

  .products_title {
    font-size: 46px;
    max-width: 1800px;
  }

  .products_list_container {
    max-width: 1800px;
  }

  .products_itens_container {
    width: 535px;
  }
  
  .products_list_item {
    font-size: 35px;
    gap: 20px
  }

  .products_list_item span {
    width: 18px;
    height: 5px;
  }
  
  .products_button {
    font-size: 30px;
  }

  .catalog_container {
    max-width: 1800px;
    margin: 80px auto;
  }

  .catalog_title {
    font-size: 45px;
  }

  .catalog_text {
    font-size: 35px;
  }

  .catalog_button {
    font-size: 30px;
  }

  .catalog_image {
    max-width: 500px;
  }
}