.about_us {
  color: #fff;
  background-image: linear-gradient(#0360CE, #0081FF);
  display: flex;
}

.infos_container {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  margin-left: 16px;
  gap: 24px;
  font-size: 13px;
  margin-bottom: 30px;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.title {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-montserrat);
}

.text {
  font-weight: 400;
  font-size: 14px;
}

.button {
  font-size: 14px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px 24px;
  margin-right: auto;
  text-decoration: none; 
}

.banner {
  border-radius: 60px 0 0 0;
  width: 310px;
  height: 215px;
}

.welcome_container {
  display: flex;
  padding: 30px 12px;
  gap: 22px
}

.welcome_line_after {
  width: 20%;
  height: 2px;
  background-image: linear-gradient(to right, #1C7DDC, #6BB4FB );
  margin-bottom: 8px;
  margin-top: 8px;
}

.welcome_line_before {
  width: 70%;
  height: 1.5px;
  background-image: linear-gradient(to right, #1C7DDC, #6BB4FB );
  margin-top: 8px;
  margin-bottom: 12px;
  margin-top: 8px;
}

.welcome_title {
  font-size: 19px;
}

.welcome_title_color {
  background: -webkit-linear-gradient(left, #1564B3, #379CFF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 4px 0;
}

.welcome_text {
  font-size: 12px;
  font-weight: 400;
  margin-right: 47px;
}

.welcome_button {
  background-image: linear-gradient(to top, #009255, #15B370);
  padding: 6px 8px;
  color: white;
  border-radius: 6px;
  font-size: 11px;
  text-decoration: none;
}

.welcome_image {
  display: none;
  border-radius: 15px;
  width: 140px;
  height: 140px;
}

.products_container {
  background-image: linear-gradient(to bottom, #0180FF, #014D99);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: #fff;
  gap: 22px
}

.products_title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 2px;
}

.products_line {
  height: 1.5px;
  width: 62%;
  display: block;
  background-image: linear-gradient(to right, #FFFFFF, #5DAFFF);
}

.products_list_container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.products_itens_container {
  display: flex;
  justify-content: space-around;
  gap: 60px
}

.products_list {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.products_list_item {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 4px
}

.products_list_item span {
  width: 10px;
  height: 2px;
  background-image: linear-gradient(to right, #FFFFFF, #5DAFFF);
  display: block;
}

.products_itens_container {
  display: flex;
}

.products_image {
  width: auto;
  height: max-content;
  border-radius: 4px;
}

.products_button {
  font-size: 10px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  align-self: center;
  border-radius: 6px;
  padding: 6px;
  width: 45%;
  cursor: pointer;
}

.catalog_container {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.catalog_title {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-montserrat);
  margin-bottom: 5px;
  padding-top: 40px;
}

.catalog_text {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 28px;
}

.catalog_button {
  text-decoration: none;
  background-color: #0180FF;
  color: #fff;
  padding: 6px 18px;
  border-radius: 6px;
  font-weight: 500;
}

.catalog_image {
  border-radius: 32px 32px 0 0 ;
  box-shadow: 0px 14.6088px 14.6088px rgba(0, 0, 0, 0.25);
  width: 120px;
  height: 154px;
}

.contact_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 21px 0;
  padding-bottom: 20px;
}

.contact_form_title {
  font-size: 18px;
  background: -webkit-linear-gradient(left, #1564B3 0%, #379CFF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.contact_form_title {
  margin-bottom: 21px;
}

.divider {
  display: block;
  height: 2px;
  width: 65%;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  background-image: linear-gradient(to right, #1C7DDC, #A7D3FF);
}

@media (min-width: 768px) {
  .infos_container {
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 15px;
    margin-right: 50px;
  }

  .banner {
    height: 330px;
    width: 350px;
  }

  .button {
    font-size: 20px;
    padding: 10px 25px;
  }

  .welcome_container {
    margin-left: 30px;
    margin-bottom: 25px;
  }

  .welcome_title {
    font-size: 30px;
  }
  
  .welcome_text {
    font-size: 15px;
    margin-right: 0;
  }

  .welcome_image {
    display: block;
    width: 46vw;
    height: 100%;
    border-radius: 0;
  }

  .welcome_line_before {
    margin-bottom: 35px;
    height: 2.5px
  }

  .welcome_button {
    font-size: 20px;
  }

  .products_list_container {
    justify-content: space-around;
  }

  .products_title {
    font-size: 20px;
    padding-bottom: 8px;
  }

  .products_list_item {
    font-size: 16px;
  }

  .products_image {
    width: 24vw;
  }

  .products_button {
    font-size: 16px;
    align-self: flex-start;
    margin-top: 20px;
  }

  .catalog_container {
    justify-content: space-between;
    padding: 40px 30px;
  }

  .catalog_title {
    font-size: 30px;
  }

  .catalog_text {
    font-size: 14px;
  }

  .catalog_button {
    font-size: 18px;
    text-decoration: none;
  }

  .catalog_image {
    width: 200px;
    height: 100%;
    border-radius: 74px 74px 0 0 ;
  }

  .contact_form_container {
    margin: 25px 0;
  }

  .contact_form_title {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .about_us {
    justify-content: space-between;
  }

  .infos_container {
    gap: 40px
  }

  .banner {
    width: 320px;
    height: 480px;
  }

  .title {
    font-size: 30px;
  }

  .text_container {
    gap: 20px
  }

  .text {
    width: 37vw;
    font-size: 18px;
  }

  .contact_form_title {
    display: none;
  }

  .contact_form_container {
    position: absolute;
    top: 11%;
    right: 23.5%;
    width: 35vw;
  }
  
  .welcome_container {
    padding: 0;
    margin: 50px;
    gap: 26px
  }

  .welcome_button {
    border-radius: 16px;
  }

  .products_container {
    padding: 40px;
  }

  .products_title {
    font-size: 22px;
  }

  .products_itens_container {
    justify-content: space-around;
    gap: 150px
  }

  .products_list_item {
    font-size: 20px;
  }

  .products_button {
    font-size: 18px;
  }

  .catalog_container {
    justify-content: space-around;
  }

  .catalog_title {
    font-size: 35px;
  }

  .catalog_text {
    font-size: 20px;
    margin-bottom: 55px;
  }

  .catalog_button {
    font-size: 20px;
    padding: 10px 25px;
  }
  
  .catalog_image {
    width: 25vw;
    border-radius: 93px 93px 0 0 ;
  }

  .divider {
    display: none;
  }
}

@media (min-width: 1440px) {
  .infos_container {
    margin-left: 67px;
    justify-content: flex-start;
  }

  .text_container {
    margin-top: 80px;
  }

  .banner {
    width: 420px;
    height: 700px;
    border-top-left-radius: 222px;
  }

  .title {
    font-size: 50px;
  }

  .text {
    font-size: 30px;
  }

  .button {
    font-size: 25px;
    padding: 15px 30px;
  }

  .contact_form_container {
    top: 20%;
    right: 20%;
  }

  .welcome_container {
    gap: 78px;
    margin: 70px;
  }
  
  .welcome_title {
    font-size: 40px;
    padding-bottom: 22px;
  }
  
  .welcome_text {
    font-size: 25px;
    font-weight: 300;
    padding: 22px 0;
  }

  .welcome_button {
    font-size: 20px;
    padding: 13px 25px;
  }

  .welcome_image {
    width: 40vw;
  }

  .welcome_line_before {
    margin-bottom: 67px;
  }

  .products_title {
    font-size: 24px;
  }

  .products_list_item {
    font-size: 20px;
  }

  .products_button {
    padding: 12px;
  }

  .catalog_image {
    border-radius: 132px 132px 0 0;
  }
}

@media (min-width: 2560px) {
  .about_us {
    gap: 2px
  }

  .infos_container {
    margin-left: 8%;
    gap: 10%
  }

  .text {
    width: 30vw;
  }

  .button {
    font-size: 30px;
  }

  .banner {
    width: 22%;
    height: 28%;
  }

  .contact_form_container {
    top: 15%
  }

  .welcome_container {
    margin-left: 8%;
    margin-right: 8%;
    gap: 12%
  }

  .welcome_title {
    font-size: 50px;
  }

  .welcome_text {
    font-size: 35px;
  }

  .welcome_button {
    font-size: 35px;
  }

  .products_container {
    padding: 80px;
  }

  .products_title {
    font-size: 50px;
  }

  .products_list_container {
    margin-top: 40px;
  }

  .products_list {
    gap: 50px;
  }

  .products_list_item {
    font-size: 40px;
  }

  .products_itens_container {
    gap: 500px
  }

  .products_list_item span {
    width: 20px;
    height: 4px;
    margin-right: 15px;
  }

  .products_button {
    border-radius: 20px;
    padding: 25px;
    font-size: 35px;
    width: 36%;
  }

  .catalog_container{
    padding: 4% 8%;
  }
  
  .catalog_title {    
    font-size: 55px;
    margin-bottom: 18px;
    padding-top: 30%;
    font-weight: 600;
  }

  .catalog_text {
    font-size: 30px;
    margin-bottom: 120px;
  }

  .catalog_button {
    font-size: 30px;
    padding: 20px 50px;
    border-radius: 16px;
  }

  .catalog_image {
    width: 20vw;
    border-radius: 180px 180px 0 0;
  }
}