.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #fff;
  position: relative;
  z-index: 2000;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1250px;
}

.menu_drawer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 100px;
  padding: 0 35px;
}

.menu_item {
  color: #fff;
  text-decoration: none;
  padding: 4px 0;
}

.pages_container {
  display: none;
}

.button {
  display: none;
}

.logo {
  width: 165px;
  height: 40px;
}

.logoDisable {
  opacity: 0;
  width: 165px;
  height: 40px;
}

@media (min-width: 768px) {
  .main {
    box-shadow: 0px 3.88px 3.88px 0px #00000040;
    position: fixed;
    background-color: #fff;
    width: 100vw;
    justify-content: center;
  }

  .container {
    width: 800px;
  }
  
  .link {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    padding-bottom: 1px;
  }
  
  .active {
    font-weight: 400;
    border: 0 solid #0081FF;
    border-bottom-width: 2px;
  }
  
  .button {
    display: none;
    background-color: #0180FF;
    padding: 8px 21px;
    color: #fff;
    font-size: 20x;
    font-weight: 500;
    border-radius: 14px;
    transition: all ease-in-out 0.5s;
    text-decoration: none;
  }
  
  .button:hover {
    cursor: pointer;
    background-color: #006cd8;
  }
}

@media (min-width: 1024px) {
  .main {
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
  }
  
  .container {
    width: 950px;
  }

  .pages_container {
    display: flex;
    gap: 30px
  }

  .link {
    font-size: 16px;
  }

  .logo {
    width: 18vw;
    height: 5vw;
  }

  .button {
    display: block;
  }

  .right_menu {
    display: none;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1250px;
  }
  
  .pages_container {
    justify-content: space-between;
    gap: 40px
  }

  .link {
    font-size: 20px;
  }

  .button {
    font-size: 20px;
  }

  .logo {
    max-width: 255px;
    max-height: 70px;
  }
}

@media (min-width: 2560px) {
  .main {
    padding: 25px;
  }

  .container {
    width: 1800px;
  }

  .pages_container {
    justify-content: space-between;
    gap: 60px
  }

  .logo {
    max-width: 324px;
    max-height: 80px;
  }

  .link {
    font-size: 30px;
  }

  .active {
    border-bottom-width: 3px;
  }

  .button {
    font-size: 35px;
    padding: 15px 35px;
  }
}