.footer {
  display: flex;
  justify-content: center;
  background-color: #2392FF;
  padding: 30px;
}

.logo {
  width: 55vw;
}

@media (min-width: 768px) {
  .logo {
    width: 30vw;
  }
}

@media (min-width: 1024px) {
  .logo {
    width: 25vw;
  }
}

@media (min-width: 1440px) {
  .logo {
    width: 20vw;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 50px;
  }
}